{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
  <ul class="author__urls social-icons">
    
    {% if author.location %}
      <li class="author__desktop">
        <i class="fas fa-fw fa-location-dot" aria-hidden="true"></i>{{ author.location }}
      </li>
    {% endif %}
    
    {% if author.employer %}
      {% assign employers_list = author.employer %}
      {% for e in employers_list %}
        <li class="author__desktop">
          <i class="fas fa-fw fa-building-columns" aria-hidden="true"></i>
          {% if e.name %}
            {% if e.url %}
              <a href="{{ e.url }}" target="_blank" rel="noopener">{{ e.name }}</a>
            {% else %}
              {{ e.name }}
            {% endif %}
          {% else %}
            {{ e | strip }}
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}


    
    <!-- Pure icon row -->
    {% if author.googlescholar %}
      <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar"></i><span>Scholar</span></a></li>
    {% endif %}
    {% if author.github %}
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-github"></i><span>GitHub</span></a></li>
    {% endif %}
    {% if author.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a></li>
    {% endif %}
    {% if author.email %}
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-envelope"></i><span>Email</span></a></li>
    {% endif %}
    
  </ul>
</div>

</div>
