<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

       <!-- Maps container -->
    <div class="maps-container" style="width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    margin-top: 30px;">
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=4KTobpu4jBnPk2Z-7uDzNM_RvlQXLdsWNxg6iQLhLx4&cl=ffffff&w=300"></script>
    </div>

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
